DB_USERNAME=postgresql
DB_PASSWORD=hibernate
DB_URL=jdbc:postgresql://localhost:5432/wabraindb
JWT_PRIVATE_KEY=your_base64_encoded_pkcs8_rsa_private_key
JWT_PUBLIC_KEY=your_base64_encoded_spki_rsa_public_key
